.infoBox {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.profileBox {
  padding: 25px 15px;
}

.profilePhotoBox {
  position: relative;
}

.profilePhoto,
.profileHirePhoto {
  margin-bottom: 10px;
}

.profilePhotoBox:hover .profileHirePhoto {
  visibility: visible;
  opacity: 1;
}

.profileHirePhoto {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.profileInfo {
  color: var(--color-body);
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
  text-align: center;
}

.profilePrewords {
  padding-bottom: 10px;
  margin-bottom: 18px;
}

.profilePrewords span {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
  background-color: var(--color-primary);
}

.profilePrewords span:before {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: var(--color-primary);
}

.profileTitle {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 5px;
}

.profilePosition {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
}

.profileTable {
  display: grid;
  grid-auto-rows: 30px;
  grid-template-columns: 1fr;
}

.profileTable span {
  margin-top: -12px;
}

.profileTable strong {
  font-size: 12px;
  text-transform: uppercase;
}

.profileSocials {
  background-color: var(--color-primary);
}

.profileSocials a svg {
  fill: var(--color-white);
}

.profileDescription {
  text-align: center;
  margin-top: 35px;
}

.profileDescription p {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
}

@media all and (min-width: 768px) {
  .profileBox {
    padding: 57px 50px 15px 50px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 40% 60%;
    margin-top: 70px;
  }

  .profilePhotoBox {
    margin-right: 20%;
  }

  .profileInfo {
    text-align: left;
  }

  .profileTitle {
    font-size: 36px;
  }

  .profilePosition {
    font-size: 18px;
  }

  .profileTable {
    grid-auto-rows: 33px;
    grid-template-columns: 120px 1fr;
  }

  .profileTable span {
    margin-top: 0;
  }
}
