:root {
  --color-primary: #3f51b5;
  --color-white: #fff;
  --color-body: #3d4451;
  --box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-body);
  font-size: 16px;
  line-height: 1.5;
  background-color: #efefef;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body main {
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
